
.cart-list-container {
    width: 500px;
}

.cart-list-header {
    list-style: none;
    font-weight: bold;
    width: 500px;
}

.cart-list-header-item {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
}

.cart-list-header-item:first-child {
    width: 300px;
}

.cart-list-header-item:last-child {
    padding-left: 20px;
}