<h3><ng-content></ng-content></h3>
<div *ngIf="productCartList.length; else emptyCart" class="cart-list-container">
  <ul>
    <li class="cart-list-header"> 
      <div class="cart-list-header-item">Name</div>
      <div class="cart-list-header-item">Count</div>
      <div class="cart-list-header-item">Price</div>
    </li>
    <li *ngFor="let item of productCartList">
      <app-cart-item [cartItem]="item" (removeItem)="onRemoveItem($event)"></app-cart-item>
    </li>
  </ul>
  <p>Total books in cart: {{totalCartCount}}</p>
</div>
<ng-template #emptyCart>
  <div>
    Your Cart is empty
  </div>
</ng-template>
<button (click)="clearCart()">Clear cart</button>